<div class="container">
  <h1>Sobre o projeto</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vitae corporis ducimus dolorem at, beatae quo voluptatibus deleniti cum accusantium maiores sed sapiente nisi. Tempore placeat alias soluta! Saepe, quam?</p>
</div>
