<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6 text-center">
      <h1>Envie a imagem a processar</h1>
      <p>Isso pode levar alguns segundos.</p>
      <%= simple_form_for(@image) do |f| %>
        <div class="form-inputs">
          <%= f.input :original_image, label: false, as: :file %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Processar foto", class: "btn btn-primary w-100"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
